<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <link rel="stylesheet" href="style.css">
    <title>Youtube Downloader</title>
</head>

<body>


        <header class= 'Toolbar'>
            <div class = "container">
                <nav class = 'DesktopOnly'>
                    <ul class= 'Navigation'>
                  
                            <li>
                                <a href="/"> Home </a>
                            </li>
                            <li>
                            <a href="/faqs'"> FAQ's </a>
                            </li>
                            <li>
                            <a href="/contactUS"> Contact Us</a>
                            </li>
                            <li>
                             <a href="/news">News</a>
                            </li>
                    
                    </ul>
            </nav>
                </div>
        
     
        </header>
            <div class= "container">
                <div class="layout-wrap">
                <h1 class="heading">Youtube Downloader !</h1>
                
                <h4 class= 'enter-link'>Please Enter A Link</h4>
                
                <input class="Input" 
                placeholder="https://www.youtube.com/watch?v=MtN1YnoL46Q"
                
                ></input>
                <br></br>
                <div class="outer">
                    <div class="inner">
                        <button class="convert-button" id="mp4">Download MP4</button>
                    </div>

                    <div  class="inner">
                        <button class="convert-button" id='mp3'>Download MP3</button>
 
                    </div>
                </div>
                </div>
        

    
</body>

</html>